.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

Ogre.log
assignment2
assignment2-Assignment2.o
assignment2-Ball.o
assignment2-BaseApplication.o
assignment2-PlayingField.o
ogre.cfg

swilken-local/

*.swp
*.o
