.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

Ogre.log
assignment3
assignment3-Assignment2.o
assignment3-Ball.o
assignment3-BaseApplication.o
assignment3-PlayingField.o
ogre.cfg

swilken-local/

*.swp
*.o
*~
media/
CEGUI.log
